@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply p-4 m-2 text-left bg-blue-100 rounded-lg dark:bg-slate-800 text-slate-900 dark:text-slate-100 hover:translate-y-1;
  }
  .title {
    @apply mb-2 text-lg font-semibold tracking-tight;
  }
}

.App {
  text-align: center;
}

body {
  background-color: black;
}